<div class="container">

  <form [formGroup]="articleForm" (ngSubmit)="handleSubmit()" novalidate>

    <div class="row pt-2 pb-1">
      <div class="col">
        <div class="mb-3 font-weight-bold">
          <label for="exampleInputEmail1" class="form-label">
            <h4>Article Title</h4>
          </label>
          <input type="text" class="form-control" id="articletitle" name="articletitle" formControlName="articletitle" [class.is-invalid]="articletitle!.invalid && (articletitle!.dirty || articletitle!.touched)">
          <div *ngIf="articletitle!.invalid && (articletitle!.dirty || articletitle!.touched)" class="invalid-feedback">
            <h6> Please add title to your article.</h6>
           </div>
        </div>
      </div>
    </div>

    <div class="row pt-2 pb-1">
      <div class="col">
        <div>
          <div formControlName="html" [ngxSummernote]="config" [ngxSummernoteDisabled]="editorDisabled"
            (blur)="onBlur()" (mediaDelete)="onDelete($event)" (summernoteInit)="summernoteInit($event)">
          </div>
        </div>
      </div>
    </div>
    
    <div class="row pt-2 pb-4 justify-content-end">
      <div class="col-6">
        <button type="submit" class="btn btn-primary">Publish</button>
      </div>

    </div>

  </form>
</div>