<div class="container-fluid">

  <div class="row border border-1 ml-">
    <app-header></app-header>
  </div><!--  header row -->
  <app-nav-bar></app-nav-bar>
  <div class="mt-4 col-md-12">
    This will have a two-point top margin!
</div>
 
  <app-home></app-home>  

  <!--
  <app-news-main></app-news-main> -->
<!--
  <app-infinite-news></app-infinite-news>
  -->

   	

<!--
  <app-create-article></app-create-article>
  -->

  <div class="row border border-1">

    <app-footer></app-footer>


  </div><!--  footer row -->
</div> <!--  Main container fluid end -->


